// Misc Color
$color-white: #FFF;
$color-black: #000;

// Blue
$color-blue-100: #0075C9;
$color-blue-90: #0082CE;
$color-blue-80: #008FD4;
$color-blue-70: #389CD9;
$color-blue-50: #7FB7E4;
$color-blue-30: #B5D3EF;
$color-blue-10: #E7F0F9;
$color-blue-5: #F4F7FB;

// Periwinkle
$color-secondary-blue-100: #7DA4DD;
$color-secondary-blue-90: #8BADE1;
$color-secondary-blue-80: #99B6E4;
$color-secondary-blue-70: #A7BFE8;
$color-secondary-blue-50: #C0D0EE;
$color-secondary-blue-30: #DAE3F4;
$color-secondary-blue-10: #F3F5FB;
$color-secondary-blue-5: #FAFAFC;

// Cornflower
$color-bright-blue-100: #4597CB;
$color-bright-blue-90: #5EA2D0;
$color-bright-blue-80: #72ABD5;
$color-bright-blue-70: #86B6DB;
$color-bright-blue-50: #AACAE5;
$color-bright-blue-30: #CDDFEF;
$color-bright-blue-10: #EFF4F9;
$color-bright-blue-5: #F8F9FB;

// Navy
$color-dark-blue-100: #004876;
$color-dark-blue-90: #275983;
$color-dark-blue-80: #436990;
$color-dark-blue-70: #5C7B9E;
$color-dark-blue-50: #899EB8;
$color-dark-blue-30: #B8C3D4;
$color-dark-blue-10: #E8EAF0;
$color-dark-blue-5: #F4F4F7;

// Lime
$color-green-100: #77BC1F;
$color-green-90: #87C33E;
$color-green-80: #96CA56;
$color-green-70: #A4D16C;
$color-green-50: #BFDE95;
$color-green-30: #DAEBBF;
$color-green-10: #F3F8E8;
$color-green-5: #FAFBF3;

// Pine
$color-secondary-green-100: #00945E;
$color-secondary-green-90: #00A06D;
$color-secondary-green-80: #00AB7C;
$color-secondary-green-70: #2EB68B;
$color-secondary-green-50: #78CBAA;
$color-secondary-green-30: #B0E0CB;
$color-secondary-green-10: #E6F5ED;
$color-secondary-green-5: #F3FAF5;

// Orange
$color-attention-orange-100: #E16A2D;
$color-attention-orange-90: #E77A43;
$color-attention-orange-80: #EC8956;
$color-attention-orange-70: #F1986B;
$color-attention-orange-50: #F9B593;
$color-attention-orange-30: #FED2BC;
$color-attention-orange-10: #FFF0E8;
$color-attention-orange-5: #FFF7F3;

// Black
$color-black-100: #222;
$color-black-90: #353535;
$color-black-80: #484847;
$color-black-70: #5D5D5D;
$color-black-50: #888;
$color-black-30: #B5B5B5;
$color-black-20: #CFCFCF;
$color-black-10: #E5E5E5;
$color-black-5: #F3F3F3;
$color-black-3: #F9F9F9;
$color-black-1: #FDFDFD;

// Warm Gray
$color-warm-gray-100: #86786F;
$color-warm-gray-90: #91847D;
$color-warm-gray-80: #9D918A;
$color-warm-gray-70: #A99E98;
$color-warm-gray-50: #C1B9B4;
$color-warm-gray-30: #DAD4D1;
$color-warm-gray-10: #F3F0EF;
$color-warm-gray-5: #FAF7F6;

// Purple
$color-violet-100: #62269E;
$color-violet-90: #743CA8;
$color-violet-80: #8451B1;
$color-violet-70: #9466BB;
$color-violet-50: #B390CE;
$color-violet-30: #D2BBE2;
$color-violet-10: #F1E7F4;
$color-violet-5: #F9F3F9;

// OneRx red
$color-red-100: #B20734;
$color-red-90: #C6093B;
$color-red-80: #CF394C;
$color-red-70: #D8535E;
$color-red-50: #E06B70;
$color-red-30: #ED9696;
$color-red-10: #F8C0BE;
$color-red-5: #FEE9E8;
