{
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "color-no-invalid-hex": [true, {"severity": "warning"}],
        "font-family-no-duplicate-names": [true, {"severity": "error"}],
        "function-calc-no-unspaced-operator": [true, {"severity": "warning"}],
        "function-linear-gradient-no-nonstandard-direction": [true, {"severity": "warning"}],
        "string-no-newline": [true, {"severity": "warning"}],
        "unit-no-unknown": [true, {"severity": "warning"}],
        "shorthand-property-no-redundant-values": [true, {"severity": "warning"}],
        "property-no-unknown": [true, {"severity": "warning"}],
        "keyframe-declaration-no-important": [true, {"severity": "warning"}],
        "declaration-block-no-duplicate-properties": [true, {"severity": "warning"}],
        "declaration-block-no-redundant-longhand-properties": [true, {"severity": "warning"}],
        "declaration-block-no-shorthand-property-overrides": [true, {"severity": "warning"}],
        "block-no-empty": [true, {"severity": "error"}],
        "selector-pseudo-class-no-unknown": [true, {"severity": "error"}],
        "selector-pseudo-element-no-unknown": [true, {"severity": "error"}],
        "selector-type-no-unknown": [true, {"severity": "error"}],
        "media-feature-name-no-unknown": [true, {"severity": "error"}],
        "comment-no-empty": [true, {"severity": "warning"}],
        "no-descending-specificity": [true, {"severity": "warning"}],
        "no-duplicate-selectors": [true, {"severity": "error"}],
        "no-empty-source": [true, {"severity": "error"}],
        "no-extra-semicolons": [true, {"severity": "error"}],
        "no-invalid-double-slash-comments": [true, {"severity": "warning"}],
        "no-unknown-animations": [true, {"severity": "error"}],
        "color-named": ["never", {"severity": "warning"}],
        "function-url-no-scheme-relative": [true, {"severity": "warning"}],
        "number-max-precision": [3, {"severity": "warning"}],
        "time-min-milliseconds": [2, {"severity": "warning"}],
        "value-no-vendor-prefix": [true, {"severity": "warning"}],
        "property-no-vendor-prefix": [true, {"severity": "warning"}],
        "declaration-no-important": [true, {"severity": "error"}],
        "declaration-block-single-line-max-declarations": [1, {"severity": "warning"}],
        "selector-max-attribute": [2, {"severity": "warning"}],
        "selector-max-combinators": [2, {"severity": "warning"}],
        "selector-max-empty-lines": [2, {"severity": "warning"}],
        "selector-max-id": [1, {"severity": "error"}],
        "selector-max-type": [2, {"severity": "warning"}],
        "selector-max-universal": [1, {"severity": "warning"}],
        "selector-no-qualifying-type": false,
        "max-nesting-depth": [4, {"severity": "warning"}],
        "color-hex-length": ["short", {"severity": "warning"}],
        "font-family-name-quotes": ["always-where-recommended", {"severity": "warning"}],
        "font-weight-notation": ["numeric", {"severity": "warning"}],
        "function-comma-newline-after": ["never-multi-line", {"severity": "warning"}],
        "function-comma-newline-before": ["never-multi-line", {"severity": "warning"}],
        "function-comma-space-after": ["always", {"severity": "warning"}],
        "function-comma-space-before": ["never", {"severity": "warning"}],
        "function-max-empty-lines": [0, {"severity": "warning"}],
        "function-name-case": ["lower", {"severity": "error"}],
        "function-parentheses-newline-inside": ["never-multi-line", {"severity": "error"}],
        "function-parentheses-space-inside": ["never", {"severity": "error"}],
        "function-whitespace-after": ["always", {"severity": "warning"}],
        "number-leading-zero": ["never", {"severity": "warning"}],
        "number-no-trailing-zeros": [true, {"severity": "warning"}],
        "string-quotes": ["double", {"severity": "warning"}],
        "length-zero-no-unit": [true, {"severity": "warning"}],
        "value-keyword-case": ["lower", {"severity": "warning"}],
        "value-list-comma-newline-after": ["never-multi-line", {"severity": "warning"}],
        "value-list-comma-newline-before": ["never-multi-line", {"severity": "warning"}],
        "value-list-comma-space-after": ["always-single-line", {"severity": "warning"}],
        "value-list-comma-space-before": ["never", {"severity": "warning"}],
        "value-list-max-empty-lines": [0, {"severity": "warning"}],
        "custom-property-empty-line-before": ["never", {"severity": "warning"}],
        "property-case": ["lower", {"severity": "warning"}],
        "declaration-bang-space-after": ["never", {"severity": "warning"}],
        "declaration-bang-space-before": ["always", {"severity": "warning"}],
        "declaration-colon-newline-after": ["always-multi-line", {"severity": "warning"}],
        "declaration-colon-space-after": ["always-single-line", {"severity": "warning"}],
        "declaration-colon-space-before": ["never", {"severity": "warning"}],
        "declaration-empty-line-before": ["never", {"severity": "warning"}],
        "declaration-block-semicolon-newline-after": ["always", {"severity": "error"}],
        "declaration-block-semicolon-newline-before": ["never-multi-line", {"severity": "error"}],
        "declaration-block-semicolon-space-after": ["never-single-line", {"severity": "error"}],
        "declaration-block-semicolon-space-before": ["never", {"severity": "warning"}],
        "declaration-block-trailing-semicolon": ["always", {"severity": "warning"}],
        "block-closing-brace-empty-line-before": ["never", {"severity": "warning"}],
        "block-closing-brace-newline-after": ["always", {"severity": "warning", "ignoreAtRules": ["else", "if"]}],
        "block-closing-brace-newline-before": ["always", {"severity": "warning"}],
        "block-opening-brace-newline-after": ["always", {"severity": "warning"}],
        "block-opening-brace-space-after": ["never-single-line", {"severity": "warning"}],
        "block-opening-brace-space-before": ["always", {"severity": "warning"}],
        "selector-attribute-brackets-space-inside": ["never", {"severity": "warning"}],
        "selector-attribute-operator-space-after": ["never", {"severity": "warning"}],
        "selector-attribute-operator-space-before": ["never", {"severity": "warning"}],
        "selector-attribute-quotes": ["always", {"severity": "warning"}],
        "selector-combinator-space-after": ["always", {"severity": "warning"}],
        "selector-combinator-space-before": ["always", {"severity": "warning"}],
        "selector-descendant-combinator-no-non-space": [true, {"severity": "warning"}],
        "selector-pseudo-class-case": ["lower", {"severity": "warning"}],
        "selector-pseudo-class-parentheses-space-inside": ["never", {"severity": "warning"}],
        "selector-pseudo-element-case": ["lower", {"severity": "warning"}],
        "selector-pseudo-element-colon-notation": ["single", {"severity": "warning"}],
        "selector-type-case": ["lower", {"severity": "warning"}],
        "selector-list-comma-newline-after": ["always-multi-line", {"severity": "warning"}],
        "selector-list-comma-newline-before": ["never-multi-line", {"severity": "warning"}],
        "selector-list-comma-space-after": ["never-single-line", {"severity": "warning"}],
        "selector-list-comma-space-before": ["never", {"severity": "warning"}],
        "rule-empty-line-before": ["always", {"severity": "warning"}],
        "media-feature-colon-space-after": ["always", {"severity": "warning"}],
        "media-feature-colon-space-before": ["never", {"severity": "warning"}],
        "media-feature-name-case": ["lower", {"severity": "warning"}],
        "media-feature-parentheses-space-inside": ["never", {"severity": "warning"}],
        "media-feature-range-operator-space-after": ["never", {"severity": "warning"}],
        "media-feature-range-operator-space-before": ["never", {"severity": "warning"}],
        "media-query-list-comma-newline-after": ["always", {"severity": "warning"}],
        "media-query-list-comma-newline-before": ["never-multi-line", {"severity": "warning"}],
        "media-query-list-comma-space-after": ["always-single-line", {"severity": "warning"}],
        "media-query-list-comma-space-before": ["never", {"severity": "warning"}],
        "at-rule-name-case": ["lower", {"severity": "warning"}],
        "at-rule-name-space-after": ["always", {"severity": "warning"}],
        "at-rule-semicolon-newline-after": ["always", {"severity": "warning"}],
        "at-rule-semicolon-space-before": ["never", {"severity": "warning"}],
        "comment-empty-line-before": ["never", {"severity": "warning"}],
        "comment-whitespace-inside": ["always", {"severity": "warning"}],
        "indentation": [4, {"severity": "warning"}],
        "max-empty-lines": [1, {"severity": "warning"}],
        "no-eol-whitespace": [true, {"severity": "warning"}],
        "no-missing-end-of-source-newline": [false, {"severity": "warning"}],
        "scss/at-else-closing-brace-newline-after": ["always-last-in-chain", {"severity": "warning"}],
        "scss/at-else-closing-brace-space-after": ["always-intermediate", {"severity": "warning"}],
        "scss/at-else-empty-line-before": ["never", {"severity": "warning"}],
        "scss/at-else-if-parentheses-space-before": ["always", {"severity": "warning"}],
        "scss/at-extend-no-missing-placeholder": [true, {"severity": "warning"}],
        "scss/at-function-parentheses-space-before": ["never", {"severity": "warning"}],
        "scss/at-if-closing-brace-newline-after": ["always-last-in-chain", {"severity": "warning"}],
        "scss/at-if-closing-brace-space-after": ["always-intermediate", {"severity": "warning"}],
        "scss/at-import-no-partial-leading-underscore": [true, {"severity": "warning"}],
        "scss/at-mixin-argumentless-call-parentheses": ["never", {"severity": "warning"}],
        "scss/at-mixin-parentheses-space-before": ["never", {"severity": "warning"}],
        "scss/at-rule-no-unknown": [true, {"severity": "warning"}],
        "scss/dollar-variable-colon-space-after": ["always", {"severity": "warning"}],
        "scss/dollar-variable-colon-space-before": ["never", {"severity": "warning"}],
        "scss/dollar-variable-no-missing-interpolation": [true, {"severity": "warning"}],
        "scss/double-slash-comment-inline": ["never", {"severity": "warning"}],
        "scss/double-slash-comment-whitespace-inside": ["always", {"severity": "warning"}],
        "scss/declaration-nested-properties-no-divided-groups": true,
        "scss/media-feature-value-dollar-variable": ["never", {"severity": "warning"}],
        "scss/selector-no-redundant-nesting-selector": [true, {"severity": "warning"}]
    }
}
