@import "../config/variables";
@import "clearfix";

// Creates the rows for the grid
@mixin make-tru-grid-row(
    $tru-grid-gutter: $tru-grid-gutter-width,
    $tru-max-width: $tru-desktop-width,
    $tru-min-width: $tru-desktop-min-width
) {
    max-width: $tru-max-width;
    min-width: $tru-min-width;
    margin-right: auto;
    margin-left: auto;
    padding-left: ceil(($tru-grid-gutter / 2));
    padding-right: floor(($tru-grid-gutter / 2));

    @include clearfix;
}

// Creates the columns for the grid
@mixin make-tru-grid-columns($i: 1, $list: ".tru-grid-column-#{$i}") {
    @for $i from ($i + 1) through $tru-grid-columns {
        $list: "#{$list}, .tru-grid-column-#{$i}";
    }

    #{$list} {
        position: relative;
        min-height: 1px;
        float: left;
    }
}

// Calculates the width for the columns and the offset
@mixin calc-tru-grid-columns($index, $class, $type: "") {
    @if ($type == "") {

        .tru-grid-column-#{$class}#{$index} {
            width: percentage(($index / $tru-grid-columns));
        }
    }

    @if ($type == offset) {

        .tru-grid-column-offset-#{$class}#{$index} {
            margin-left: percentage(($index / $tru-grid-columns));
        }
    }
}

// Generates the columns form 1-12
@mixin generate-tru-grid-columns($class: "", $type: "") {
    @for $i from 0 through $tru-grid-columns {
        @include calc-tru-grid-columns($i, $class, $type);
    }
}

// Makes the grid that will be outputted on the css file
@mixin make-tru-grid($class: "") {
    @include generate-tru-grid-columns($class);
    @include generate-tru-grid-columns($class, offset);
}
